#css-changed{
    animation-name: move;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes move{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(100px);
    } 
}